<%= form_for(@restrant) do |f| %>
  <% if @restrant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restrant.errors.count, "error") %> prohibited this restrant from being saved:</h2>

      <ul>
      <% @restrant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :logo_url %><br />
    <%= f.text_field :logo_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
