<%= form_for @restaurant, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :logo_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :logo_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :menu_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :menu_url, :class => 'text_field' %>
	  <!-- Ref: RailsCasts #38 Multibutton Form (http://railscasts.com/episodes/38-multibutton-form) -->
      <%= f.submit 'Update menu now', :class => 'btn', :name => 'update_menu_from_url' %>
	  <!-- %= link_to t('.edit', :default => t("Update menus")),
              update_menu_from_url_restaurant_path(@restaurant), :class => 'btn' %-->
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
	  <%= if(@restaurant[:id]) then link_to t('.edit', :default => t("Edit menus")),
              restaurant_menus_path(@restaurant), :class => 'btn' ; end %>
	</div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                restaurants_path, :class => 'btn' %>
  </div>
<% end %>
