<%- model_class = Restrant.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @restrants.each do |restrant| %>
      <tr>
        <td><%= link_to restrant.id, restrant_path(restrant) %></td>
        <td><%= link_to restrant.name, restrant_path(restrant) %></td>
        <!-- td><%= image_tag(restrant.logo_url) %><br><br -->
        <td>
		<%= link_to(image_tag(restrant.logo_url), restrant.url) %>
		<br/>
        <%= link_to(restrant.url, restrant.url) %>
		</td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_restrant_path(restrant), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      restrant_path(restrant),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_restrant_path,
            :class => 'btn btn-primary' %>
