<%- model_class = @menu.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:title) %>:</strong><br>
  <%= @menu.title %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:date) %>:</strong><br>
  <%= @menu.date %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:price) %>:</strong><br>
  <%= @menu.price %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:restrant_id) %>:</strong><br>
  <%= @menu.restrant_id %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              restrant_menus_path(@restrant), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_restrant_menu_path(@restrant,@menu), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              restrant_menu_path(@restrant, @menu),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
