<%- model_class = Menu.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<div align=right>
<%= form_tag({}, :method => :get) do %>
<%= select_tag(:order_id, options_for_select(@orders.map{|item| item[:name]}.zip( (0..@orders.length-1).to_a), @order_id), onchange: 'this.form.submit()') %>
<% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:restaurant_id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= link_to menu.id, menu_path(menu) %></td>
        <td>
     <%= link_to(image_tag(Restaurant.find(menu.restaurant_id).logo_url, width:"100"), restaurant_path(menu.restaurant_id)) %>
<br/>
	 <%=  link_to(Restaurant.find(menu.restaurant_id).name,restaurant_path(menu.restaurant_id))  %>
	</td>
        <td><%= simple_format(h(menu.title)) %></td>
        <td><%= menu.date %></td>
        <td><%= menu.price %></td>
        <td><%= menu.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_menu_path(menu), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      menu_path(menu),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_menu_path,
            :class => 'btn btn-primary' %>
